<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Backbone-демо</title>

    <link rel="stylesheet" href="css/styles.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="header">
    <div class="container">
        <div class="header-logo">Shop</div>
        <ul class="menu">
            <li class="menu-item"><a href="#">Товары</a></li>
            <li class="menu-item"><a href="#">Корзина</a></li>
        </ul>
    </div>
</div>

<div class="mode mode--shop">
    <div class="container">
        <h1>Товары</h1>

        <script type="text/template" id="goods-template">
            <div class="goods-image">
                <img src="img/<%= image %>" alt=""/>
            </div>
            <div class="goods-title"><%= title %></div>
            <div class="goods-description"><%= description %></div>
            <div class="goods-price"><%= price %> руб.</div>
            <div class="goods-info">
                <div class="button <%= inStore - inCart ? 'js-buy' : 'button--disabled' %>">В корзину</div>
                <div class="goods-quantity">Количество на складе: <%= inStore - inCart %> шт.</div>
            </div>
        </script>

        <div class="goods" id="goods"></div>

    </div>
</div>

<div class="mode mode--cart">
    <div class="container">
        <h1>Корзина</h1>

        <script type="text/template" id="cart-template">
            <div class="cart cf" id="cart">
                <div class="cart-list"></div>
                <div class="cart-summary">
                    Итого: <span class="js-sum"></span> руб. <br/>
                    <div class="button">Оформить заказ</div>
                </div>
            </div>
        </script>

        <script type="text/template" id="cart-item-template">
            <div class="cart-title"><%= title %></div>
            <div class="cart-amount"><%= inCart %> шт.</div>
            <div class="cart-price"><%= inCart * price %> руб.</div>
            <div class="cart-remove"><a class="js-remove" href="#">Удалить</a></div>
        </script>

        <div class="cart cf" id="cart"></div>

    </div>
</div>

<script src="js/underscore-min.js"></script>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>